h2{
    font-size: 50px;
}

header {
    background-color: rgb(58, 179, 148);
    
    text-align: center;
    border: 10px solid black;
    padding-bottom: 20px;
    border-radius: 20px;
   
}

body{
    background-color: rgb(146, 41, 47);
}

#midPic{
    width: 850px;
    height: 300px;
    border: 10px solid black;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    
}

#suitCase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    
}
