body{
    background-color: rgb(146, 41, 47);
}

#title{
    font-size: 50px;
    text-align: center;
}


#section-block{
    background-color: rgb(22, 175, 116);
    display: block;
    border: 10px solid black;
    width: 100%;
    height: auto; 
    border: 5px solid black;
    border-radius: 50px;
}


#top-section{
    display: flex;
    border: 5px solid black;
    background-color: rgb(22, 175, 116);
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
}

#libraryPic{
    width: 90%;
    height: auto;
    border: 10px solid black;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    display: block;
    text-align: center;
    
}

#library{
    text-align: center;
}

#user-form{
    background-color: rgb(171, 180, 177);
    border-radius: 25px;
    border: 5px solid black;
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
    display: block;
    text-align: center;
}

#click-Img{
    text-align: center;
}

#parentDiv {
    display: flex;
    width: 100%;
}

#books-container {
    border: 5px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    border-radius: 20px;
    flex: 1;
    margin: 10px;
    background-color: rgba(171, 180, 177, 0.308);
}

#p-Tag {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    /* border: 5px dotted black; */
    border-radius: 25px;
    text-align: center;
    margin-right: 0px;
    background-color: rgba(171, 180, 177, 0.308);
}

li {
    text-align: auto;
}

p {
    text-align: auto;
    font-weight: bold;
    color: rgb(196, 212, 53);
    display:inline;
    word-wrap: break-word;
    padding-top: auto;
    width: 300px;
    height: 300px;
    margin-left: 10px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 20px;
    border-radius: 250px;
    font-size: 15px;
    text-align: center;
}

img {
    padding-top: auto;
    width: 150px;
    height: 175px;
    border: 5px solid black;
    margin-left: 10px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 20px;
}

#clear-btn{
    margin-left: 6px;

    text-align: center;
    border: 5px solid black;
    border-radius: 25px;
    
   
}