h2{
    font-size: 50px;
}

header {
    background-color: rgb(58, 179, 148);
    
    text-align: center;
    border: 10px solid black;
    padding-bottom: 20px;
    border-radius: 20px;
   
}

body{
    background-color: rgb(146, 41, 47);
}


