
#suitCase{
    align-items: center;
}

#midPic {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 
#formId{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-left: 8rem;
}
